.pagenation {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  text-align: center;
}

.arrow {
  font-size: 20px;
  margin: 0 20px;
  cursor: pointer;
}

.page {
  margin: 0 10px;
}
