.form {
  border: 2px solid black;
  margin: 30px 30px;
  padding: 20px 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  position: relative;
}
.form::before {
  content: "리워드 생성";
  position: absolute;
  background-color: white;
  top: -13px;
  padding: 5px 5px;
}

.text {
  width: 300px;
  margin-top: 50px;
  border: none;
  border-bottom: 1.5px solid grey;
  padding: 5px 5px;
  font-size: 15px;
  transition: 0.3s;
}
.text:focus {
  outline: none;
  border-bottom: 1.5px solid black;
}
